#map {
    height: 94%;
    width: 100%;
    border: solid black;
  }
  h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  body{
    background-color: rgb(223, 223, 155);
  }

  aside{
    border: solid black;
  }
