#map {
  height: 1618px;
  width: 1618px;
  border: solid black;
}

main{
  display: flex;
  flex-direction: row;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

body {
  background-color: rgb(223, 223, 155);
}

aside {
  border: solid black;
}